<!doctype html>
<title>Character recoginition</title>
<h1>Character recoginition</h1>
<p>
  This was a tech test I passed for a company. You can find the instructions of the test on <a href="https://github.com/gobert/digit-recognition/blob/master/instructions.md">github</a>
</p>
<h2>Upload an image</h2>
<form method=post action="/recognize" enctype=multipart/form-data>
  <p><input type=file name=image>
     <input type=submit value=Upload>
</form>
<h2>Disclaimer</h2>
<p>The aim of this tech test was more to evaluate the web service than the performance of the model. You should check the <a href="https://github.com/gobert/digit-recognition/blob/master/instructions.md">test instructions</a> and the <a href="https://github.com/gobert/digit-recognition/blob/master/README.md">trade-offs</a> on github.</p>
<p>I will ❤ to improve the model in the future.</p>
